@use "bootstrap";

/*

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-top: 5%;
}
#box{
    width: 200px;
    height: 200px;
    
}
#box, .box {
    width: 200px;
    height: 200px;

    &.blue { 
        background-color: aqua;
    }
    &.red { 
        background-color: red;
    }
    &.green { 
        background-color: green;
    }
    &.yellow { 
        background-color: rgb(255, 217, 0);
    }
}

body{
font-family: serif;
}

#app{
    width: 1280px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.movie-grid{
    width: 300px;
    margin: 20px;
    padding: 15px;
    background-color: #aaa;
}

button{
    margin-top: 100px;
    display: flex;
    margin-left: 20px;
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;

}

.caja{
    border:#000 1px solid;
    margin-top: 70px;
    margin-right: 200px;
    background-color: green;

}

.buton{
display: flex;
margin-left: 200px;
margin-top: 200px;
}
*/
#box{
    width: 100px;
    height: 100px;
    
}
.red{
    background-color: red;
}
.blue{
    background-color: blue ;
}